//blue shade
$primary: #2962FF;
$deepbluesky: #0D4571;
$lightbluesky: #98dafa;
$secondary: #757575;
$success: #43A047;
$danger: #FF3D00;
$warning: #FFAB00;
$info: #0097A7;
$light: #FAFAFA;
$dark: #424242;
$link: #B3E5FC;

.stp-darkgreen{
	color: darkgreen;
}
.stp-seagreen{
	color: seagreen;
}
.stp-tomato{
	color: tomato;
}