@media screen and (max-width: 992px){
	.stp-col-left{
		padding-top: 80px;
	}
}
@media screen and (max-width: 767px){
	.stp-col-left{
		display: none;
	}
}
.stp-col{
	background-color: transparent;
}

.stp-top{
	height: 10vh; 
	width: 100%;
}
.stp-row-form{
	input{
		width: 100%;
		margin-bottom: 10px;
	}
	select{
		width: 100%;
		border: 1px solid seagreen;
		height: 28px !important;
		padding: 0;
		padding-left: 5px;
		border-radius: 0;
	}
	padding-bottom: 10vh;
	h1, p, select, .form-group, .stp-col, .row{ background-color: transparent;}
	.stp-col-right{
		input{
			background-color: transparent;
			border: 1px solid seagreen;
			padding-left: 5px;
		}
		h1{
			color: seagreen;
			margin-left: 8px;
			font-weight: bold;
			font-size: 1em*2;
		}
		select{
			margin-top: 8px;
			margin-left: 8px;
		}
		a{
			color: darkgreen;
			margin-left: 8px;
			font-style: italic;
			background-color: transparent;
		}
		p{
			margin-left: 9px;
		}
	}
} 