@media screen and (max-width: 990px){
	.footer{
		.right{
			display: none;
		}
	}
}
.footer{
	background-color: seagreen;
	height: 350px;
	color: white;
	h1{
		text-transform: uppercase;
		font-family: Century Gothic;
		color: white;
		font-weight: bold;
	}
	h6{
		padding-top: 10px;
		text-transform: uppercase;
	}
	a{
		color: white;
		text-decoration: none;
	}
}
.subfooter{
	background-color: #3B6345;
	height: 50px;
	h6{
		color: white;
		padding-top: 20px;
		padding-left: 20px;
		font-size: 0.8em;
		padding-right: 20px;
		a{
			color: white;
			text-decoration: none;
		}
	}
	i{
		float: right;
		margin-right: 20px;
	}
}