.gridcards{
	.card{
		border: none;
		.clr-overlay{
			background-color: rgba(0,0,0, 0.5);
		}
		.card-img-overlay{
			font-weight: bold;
			color: white;
			text-shadow: 2px 2px 2px #000000;
			.genre{
				position: absolute; 
				top: 45%;
				bottom: 45%; 
				left: 25%; 
				right: 25%;
				font-family: candara;
			}
		}
		.card-text{
			margin-top: -8px;
			font-size: 0.8em;
			color: gray;
		}
		.card-img-top{
			border-radius: 5px;
		}
	}
}