@media screen and (max-width: 990px){
	.gridcards{
		.card{
			img{
				height: 100% !important;
			}
		}
		h5{
			font-size: 3.5em;
		}
		small{
			font-size: 2em;
		}
		p{
			font-size: 2.5em;
		}
		i{
			font-size: 2.5em;
		}

	}
}
@media screen and (max-width: 550px){
	.gridcards{
		h5{
			font-size: 1.3em;
		}
		small{
			font-size: 0.8em;
		}
		p{
			font-size: 1em;
		}
		i{
			font-size: 1em;
		}
	}
}
@media screen and (min-width: 990px){
	.gridcards{
		h5{
			font-size: 1.3em;
		}
		small{
			font-size: 0.8em;
		}
		p{
			font-size: 1em;
		}
		i{
			font-size: 1em;
		}
	}
}

.gridcards{
	.card{
		border: none;
		.clr-overlay{
			background-color: rgba(0,0,0, 0.5);
		}
		.card-img-overlay{
			font-weight: bold;
			color: white;
			text-shadow: 2px 2px 2px #000000;
			.genre{
				position: absolute; 
				top: 45%;
				bottom: 45%; 
				left: 25%; 
				right: 25%;
				font-family: candara;
			}
		}
		.card-text{
			margin-top: -8px;
			font-size: 0.8em;
			color: gray;
		}
		.card-img-top{
			border-radius: 5px;
		}
	}
}
	.hovercard:hover{
		cursor: pointer;
		.hoveroverlay{
			display: block !important;
			background-color: rgba(0,0,0, 0.5);
			border-radius: 5px;
		}
	}