.coverphoto{
	height: 60vh;
	background-attachment: fixed;
	background-repeat: none;
	background-size: cover;
	background-position: center;
	.black{
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.3);
		display: flex-column;
		padding-left: 45%;
		padding-right: 45%;
		padding-top: 10vh;
	}
	.profilepic{
		width: 100px;
		height: 100px;
		border-radius: 50%;
		margin: auto;
	}
	h5{
		width: 100px;
		color: white;
		font-weight: 700;
	}
	p{
		color: white;
		font-size: 0.9em;
	}
}
.profilenav{
	box-shadow: 0 2px 0 0 rgba(0,0,0,.3);
	padding-top: 10px;
	padding-bottom: 10px;
	a{
		color: black;
		text-decoration: none;
	}
	.sining{
		padding-bottom: 10px;
		border-bottom: 2px solid seagreen;
	}
}
.aboutme{
    -webkit-box-shadow: 0 1px 10px 0 rgba(34,34,34,.08), 0 4px 5px 0 rgba(34,34,34,.1);
   	box-shadow: 0 1px 10px 0 rgba(34,34,34,.08), 0 4px 5px 0 rgba(34,34,34,.1);
   	border-radius: 5px;
}
.gawa{
	-webkit-box-shadow: 0 1px 10px 0 rgba(34,34,34,.08), 0 4px 5px 0 rgba(34,34,34,.1);
   	box-shadow: 0 1px 10px 0 rgba(34,34,34,.08), 0 4px 5px 0 rgba(34,34,34,.1);
   	border-radius: 5px;
	img{
		width: 100%;	
	}
	.card-body{
		p{
			font-size: 0.8em;
		}
	}
}