@media only screen and (max-width: 600px) {
	.coverphoto{
		height: 75vh !important;
		.profilepic{
			margin-top: 10px !important;
			margin-left: -20px !important;
		}
		.rightbio{
			margin-top: 28vh !important;
			position: absolute;
			margin-left: -20px;
		}
	}
	.profilenav{
		position: relative;
		.settings{
			display: none;
		}
		.talasarili{
			position: relative;
			margin-left: 100px;
			margin-top: -25px;
		}
		.napangilakan{
			position: relative;
			margin-top: -26px;
			margin-left: 200px;
		}
	}
	#Talasarili{
		padding-left: 0px !important;
		padding-right: 0	px !important;
	}
}
.coverphoto{
	height: 300px;
	background-attachment: fixed;
	background-repeat: none;
	background-size: cover;
	background-position: center;	
	.profilepic{
		width: 150px;
		height: 150px;
		border-radius: 50%;
	}
}
.black{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	display: flex-column;
	text-shadow: 2px 2px 4px #000000;
}
.profilenav{
	box-shadow: 0 2px 0 0 rgba(0,0,0,.3);
	padding-top: 10px;
	padding-bottom: 10px;
	a{
		color: black;
		text-decoration: none;
	}
	.stp-borderb{
		padding-bottom: 10px;
		border-bottom: 2px solid seagreen;
	}
}
.aboutme{
    -webkit-box-shadow: 0 1px 10px 0 rgba(34,34,34,.08), 0 4px 5px 0 rgba(34,34,34,.1);
   	box-shadow: 0 1px 10px 0 rgba(34,34,34,.08), 0 4px 5px 0 rgba(34,34,34,.1);
   	border-radius: 5px;
   	font-size: 0.9em;
}
.gawa{
	-webkit-box-shadow: 0 1px 10px 0 rgba(34,34,34,.08), 0 4px 5px 0 rgba(34,34,34,.1);
   	box-shadow: 0 1px 10px 0 rgba(34,34,34,.08), 0 4px 5px 0 rgba(34,34,34,.1);
   	border-radius: 5px;
   	padding: 6px 12px;
  	border: 1px solid #ccc;
	img{
		width: 100%;	
	}
	.card-body{
		p{
			font-size: 0.9em;
		}
	}
}
.personalinfo{
	-webkit-box-shadow: 0 1px 10px 0 rgba(34,34,34,.08), 0 4px 5px 0 rgba(34,34,34,.1);
   	box-shadow: 0 1px 10px 0 rgba(34,34,34,.08), 0 4px 5px 0 rgba(34,34,34,.1);
   	border-radius: 5px;
   	font-size: 0.9em;
}
#Talasarili{
	padding-top: 50px;
	padding-left: 100px;
	padding-right: 100px;
	margin-bottom: 100px;
	.input-group{
		background-color: #EEEEEE;
		border-radius: 5px;
		padding: 10px;
		.input-group-prepend{
			height: 50px;
			width: 60px;
		}
		.input-group-append{
			button{
				background-color: white;
				border: 1px solid seagreen;
			}
		}
		.input-group-img{
			img{
				width: 50px;
				height: 50px;
				border-radius: 50%;
			}
		}
		.form-control{
			height: 50px;
			padding-top: 13px;
			border: 1px solid seagreen;
		}
	}
}
.filterDiv {
  display: none; /* Hidden by default */
}
/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  margin: 3px;
  border: none;
  outline: none;
  padding: 5px 20px;
  background-color: #f1f1f1;
  cursor: pointer;
  /* Add a light grey background on mouse-over */
}
	.btn:hover {
	  background-color: #ddd;
	}
	/* Add a dark background to the active button */	
	.cactive {
	  background-color: seagreen;
	  color: white;
	}


